

<div class="centered-div footer-container">
  <div class="footer-item">
    <h2>Follow Us</h2>
    <a href="https://www.facebook.com/people/Silent-Voice-Loud-Hands/61557767580959/" target="_blank">Facebook</a>
    <a href="https://www.tiktok.com/@silentvoiceloudha?is_from_webapp=1&sender_device=pc" target="_blank">TikTok</a>
    <a href="https://www.youtube.com/@SilentVoiceLoudHands" target="_blank">Youtube</a>
  </div>
  <div class="footer-item">
    <h2>Disclaimers</h2>
    <a href="#">Become a Resource Partner</a>
  </div>
  <div>
    <h2>Contact Us</h2>
    <p>Adrianna Chain - Owner/Manager</p>
    <p>adriannachain&#64;gmail.com</p>
    <p>601-504-2122</p>
  </div>
</div>
