#nav-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  width: 100%;
}


@media (max-width: 1200px){
  #nav-container{
    display: none;
  }
}

#nav-logo {
  position: absolute;
  left: 1rem;
  height: 8rem;
}

#title {
  text-align: center;
  flex: none;
}

#links-container {
  position: absolute;
  right: 1rem;
  display: flex;
  flex-direction: row;
}

.nav-link {
  color: var(--eerie-black);
  font-size: larger;
  text-decoration: none;
  margin: 0 1rem;
}
