




<div class="centered-div">
  <div class="centered-div-item">
    <h2>Adrianna Chain</h2>
    <h4>Founder, Manager, Owner of Silent Voice Loud Hands, LLC.</h4>

    <p>
      Hi, I'm Adrianna Chain! I was born and raised in Jackson, Mississippi, in a loving Deaf family, where
      communication was always vibrant and full of life. Growing up in a household that embraced sign language
      allowed me to develop a deep appreciation for the power of expression and connection within the deaf
      community.
      <br>
      I currently work as a paralegal in northwest Mississippi, where I combine my passion for justice with my skills
      in communication and problem-solving. I thrive in an environment where I can advocate for others and help
      navigate complex legal situations.
      <br>
      My family is everything to me. Whether we're sharing stories, enjoying game nights, or just spending time
      together, my loved ones are my biggest support system. I believe that the bonds we create shape who we are,
      and I cherish every moment with them. I grew up watching my parents face many hardships in life and have
      always wanted to make life easier for them and my community.
      I'm excited to continue my journey, embracing both my professional and personal passions while advocating for
      my Deaf community.
    </p>
  </div>

  <div class="centered-div-item">
    <img src="assets/images/stockPhoto1.jpg" alt="image">
  </div>
</div>
