/* You can add global styles to this file, and also import other style files */
:root {
  --alabaster: #ede7daff;
  --chamoisee: #a87453ff;
  --tan: #cba892ff;
  --wheat: #efdab5ff;
  --eerie-black: #181b16ff;
}



body{
  margin: 0;
  position: relative;
  justify-content: center;
  background-color: var(--wheat);
  font-family: "Platypi", serif;
  font-optical-sizing: auto;

}

.italic-txt{
  font-style: italic;
}

.bold-txt{
  font-style:bold;
}

.larger-txt{
  font-size: 35pt;
  font-weight: 600;
}

.large-txt{
  font-size: 25pt;
  font-weight: 400;
}

.medium-txt{
  font-size: 18pt;
  font-weight: 400;
}
