<div class="page-wrapper">


  <div class="centered-div">
    <img id="banner-logo" src="assets/images/bannerLogo.png" />
  </div>

  <div class="centered-div">
    <div class="about-item">
      <h2>Who We Are</h2>
      <p>
        Silent Voice Loud Hands was established to educate and advocate for deaf iesues inthe community.
        Our goal is to educate the general public of various issues and how we can resolve the.
        We also provide education to individuals in the deaf community to boost self-advocacy and independence.
      </p>
      <a routerLink="about" style="color: black;">see more</a>
    </div>
    <div class="about-item">
      <img src="assets/images/stockPhoto1.jpg" alt="image">
    </div>
  </div>

  <div class="centered-div">
    <div>
      <p>Putting an image here</p>
    </div>
    <div>
      <h2>Contact Us Here</h2>
      <p>Send us a message and we will get back with you promptly</p>
      <form id="contact-form">
        <p>How would you like us to contact you?</p>
        <input type="text" id="returnContact" placeholder="Email or phone number"/>
        <p>Enter your message below</p>
        <textarea id="messageTextArea" placeholder="message..."></textarea>
        <button type="submit">Submit</button>
        <!-- use this form to call a data service and handle sending an email to us -->
      </form>
    </div>
  </div>


  <div class="centered-div footer-container">
    <div>
      <h2>Follow Us</h2>
      <a>Facebook</a>
      <a>Youtube</a>
    </div>
    <div>
      <h2>Disclaimers</h2>
      <a>Become a Resource Provider</a>
    </div>
    <div>
      <h2>Contact Us</h2>
      <p>Adrianna Chain - Owner/Manager</p>
      <p>myemail&#64;silentVoice.com</p>
      <p>601-222-1122</p>
    </div>
  </div>

</div>
