<div class="page-wrapper">


  <div class="centered-div">
    <img id="banner-logo" src="assets/images/bannerLogo.png" />
  </div>

  <div class="centered-div">
    <div class="centered-div-item">
      <h2>Who We Are</h2>
      <p>
        Silent Voice Loud Hands was established to educate and advocate for deaf iesues inthe community.
        Our goal is to educate the general public of various issues and how we can resolve the.
        We also provide education to individuals in the deaf community to boost self-advocacy and independence.
      </p>
      <a routerLink="about" style="color: black;">see more</a>
    </div>
    <div class="centered-div-item">
      <img src="assets/images/stockPhoto1.jpg" alt="image">
    </div>
  </div>

  <div class="centered-div" id="contact-centered-div">
    <div class="centered-div-item">
      <app-contact-form></app-contact-form>
    </div>
    <div class="centered-div-item">
      <h2>Reach Out</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, saepe? Rem, in aut rerum asperiores repellat voluptas pariatur quis cum consequatur accusamus blanditiis distinctio ad libero eveniet! Magnam, nemo rerum?</p>
    </div>
  </div>


  <div class="centered-div footer-container">
    <div>
      <h2>Follow Us</h2>
      <a>Facebook</a>
      <a>Youtube</a>
    </div>
    <div>
      <h2>Disclaimers</h2>
      <a>Become a Resource Provider</a>
    </div>
    <div>
      <h2>Contact Us</h2>
      <p>Adrianna Chain - Owner/Manager</p>
      <p>myemail&#64;silentVoice.com</p>
      <p>601-222-1122</p>
    </div>
  </div>

</div>
