<div class="page-wrapper">
  <div class="centered-div">
    <img id="banner-logo" src="assets/images/bannerLogo.png" />
  </div>

  <div class="centered-div">
    <div>
      <h2>About Us</h2>
      <p>Founded in 2024 by *CODA's and deaf advocates wanting to make a change in the community. </p>
      <a routerLink="about">see more</a>
    </div>
    <div>
      <p>Putting an image here</p>
    </div>
  </div>

  <div class="centered-div">
    <div>
      <p>Putting an image here</p>
    </div>
    <div>
      <h2>Contact Us Here</h2>
      <p>Send us a message and we will get back with you promptly</p>
      <form id="contact-form">
        <p>How would you like us to contact you?</p>
        <input type="text" id="returnContact" placeholder="Email or phone number"/>
        <p>Enter your message below</p>
        <textarea id="messageTextArea" placeholder="message..."></textarea>
        <button type="submit">Submit</button>
        <!-- use this form to call a data service and handle sending an email to us -->
      </form>
    </div>
  </div>


  <div class="centered-div footer-container">
    <div>
      <h2>Follow Us</h2>
      <a>Facebook</a>
      <a>Youtube</a>
    </div>
    <div>
      <h2>Disclaimers</h2>
      <a>Become a Resource Provider</a>
    </div>
    <div>
      <h2>Contact Us</h2>
      <p>Adrianna Chain - Owner/Manager</p>
      <p>myemail&#64;silentVoice.com</p>
      <p>601-222-1122</p>
    </div>
  </div>

</div>
