.centered-div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* background-color: aquamarine; */
}

.info-container > div {
  background-color: aliceblue;
}


#contact-form{
  display: flex;
  flex-direction: column;
}


#banner-logo{
  border-radius: 2rem;
  width: 60rem;
  height: auto;
}
